.center {
	text-align:center;
}

.inline {
	display:inline;
}

.hidden {
	display:none;
}

div#carousel {
	position:relative;
	overflow:hidden;
	height: 380px;
}

div#carousel img {
	position:absolute;
	padding-top: 80px;
	top:-999px;
	right:-999px;
	bottom:-999px;
	left:-999px;
	margin: auto;
}

div.header {
	position: fixed;
	background-color: white;
	z-index: 999999;
}

nav.menu li {
	display:inline-block;
	list-style: none;
}

table.events-table {
	width: 100%;
}

table.events-table td.event-date {
	width: 30.6666667%;
	text-align: right;
	vertical-align: top;
}

table.events-table td.event-info {
	width: 65.3333333%;
	margin-left: 0;
	padding: 8px 10px 0 30px;
}

table.events-table td.event-info .event-title {
	font-weight: bold;
	font-size: 1.25em;
}